.contact{
    margin-top: 40px;
}

/*content左边部分
--------------------------------------------*/
.contact .left{
    width: 567px;
    background-color:#EBE9D7;
    float: left;
    border: 8px solid #822619;
    border-radius: 8px;
    padding: 33px;
    margin-bottom: 40px;
    margin-right: 32px;
    /*text-align:center;*/
}
.contact .left .biaoti{
    font-size: 36px;
    color: #1B6568;
}
.contact .break-img{
    width: 491px;
    height: 294px;
    position: relative;
}
.contact .break-img img{
    width: 175px;
    height: 343px;
    position: absolute;
    top: -19px;
    left: 190px;
}
.contact .left .writing{
    width: 446px;
    float: left;
    /*background-color: palegoldenrod;*/
    color: #4C1407;
    line-height:35px;
    text-align: justify;
}
.contact .left .writing h1{
    font-size: 24px;
    margin-top:36px;
}
.contact .left .writing p{
    font-size:16px;
}
.contact .left .icon{
    float: left;
    background-color: #0FF;
}
.contact .left .price{
    width: 59px;
    height:59px;
    background-color: #1B6568;
    line-height: 52px;
    float: left;
    font-size: 28px;
    color: #EBE9D7;
    box-sizing: padding-box;
    border: 5px solid #822619;
    border-radius: 50%;
    text-align: center;
    margin-top: 39px;
    margin-left: 35px;
}
hr{
    border: 1px dashed #822619;
    position: relative;
    top:22px;
    left:-11px;;
    width: 587px;
}
/*content右边部分
--------------------------------------------*/
.contact .right{
    width: 277px;
    /*background-color:#0FF;*/
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 2px;
    /*background-color: red;*/
}
.right p{
    font-size: 36px;
    color: #1b6568;
    margin: 42px 0;
}
.right li{
    border-top: 4px solid #822619;
    font-size: 32px;
    color: #822619;
    width: 270px;
    line-height: 59px;
}
.right li a{
    text-decoration: none;
    color:#822619;
}
.right .break{
    border-bottom:4px solid #822619;
}
.right .shakes a{
    color: #1B6568;
}
.right .button{
    width: 277px;
    height:45px;
    -webkit-border-radius: 6px/8px;
    -moz-border-radius: 6px/8px;
    border-radius: 6px/8px;
    background-color: #822619;
    border: solid 3px #1b6568;
    margin-top: 22px;
    font-size: 26px;
    /*color:#ebe9d7;*/
    text-align:center;
    line-height: 45px;
}
.right .button a{
    text-decoration: none;
    color:#ebe9d7;
}